<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Core Online Tutorial - Customer Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">

    <h2>Customer Details</h2>
    <div>
        <form class="form-horizontal" th:object="${customerForm}" th:action="@{/customer}" method="post">

            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <p>Please Correct values in error below:</p>
            </div>

            <input type="hidden" th:field="*{userId}"/>
            <input type="hidden" th:field="*{userVersion}"/>
            <input type="hidden" th:field="*{customerId}"/>
            <input type="hidden" th:field="*{customerVersion}"/>

            <div class="form-group"  th:class="${#fields.hasErrors('userName')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">User Name:</label>
                <div class="col-sm-10 ">
                    <input type="text" class="form-control" th:field="*{userName}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('userName')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" th:field="*{passwordText}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Password Conf:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" th:field="*{passwordTextConf}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">First Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{firstName}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Last Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{lastName}"/>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('email')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{email}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('email')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Phone:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{phoneNumber}"/>
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label">Address Line 1:</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<input type="text" class="form-control" th:field="*{addressLine1}"/>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label">Address Line 2:</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<input type="text" class="form-control" th:field="*{addressLine2}"/>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label">City:</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<input type="text" class="form-control" th:field="*{city}"/>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label">State:</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<input type="text" class="form-control" th:field="*{state}"/>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label">Zip Code:</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<input type="text" class="form-control" th:field="*{zipCode}"/>-->
                <!--</div>-->
            <!--</div>-->
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>